<h2>Bookmark Manager</h2>
<ul>
  <% @bookmark_manager_list.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    <form action='/bookmarks/<%= bookmark.id %>' method='post'>
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete" id="<%=bookmark.title%>"/>
    </form> 
    </li>
  <% end %>
</ul>